@charset "UTF-8";

#header {
	margin-left: 600px;
	padding: 5px;
	width: 800px;
	height: 30px;
}

#text1 {
	margin-left: 700px;
	height: 20px;
}

#text2 {
	margin-left: 645px;
	height: 20px;
}

#text3 {
	margin-left: 610px;
	height: 20px;
}

#text4 {
	margin-left: 625px;
	height: 20px;
}

input[type="text"] {
	font-size: 20px;
}

#empfaenger {
	
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#bic {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#iban {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#betrag {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#datum {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#eingabe {
	margin-left: 740px;
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px
}

#verwendungszweck {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px
}

#vorname {
	
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#nachname {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#strasse {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#hausnummer {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#plz {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px;
}

#ort {
	border: 2px solid black;
	color: mediumvioletred;
	height: 30px
}

body {
	background-image: url("/bilder/pexels-johannes-plenio-2850287.jpg");
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

#suchestarten{
	
	margin-left: 850px;
}

#hauptmenue{
	
	margin-left: 820px;
}

#ausgabe{
	margin-left: 740px;
}

#menue{
	
	margin-left: 770px;
}